.phonetics {
  margin-top: 2em;
  margin-bottom: 1em;
  height: 3em;
}

.phonetics a {
  color: black;
  font-size: 1.5em;
  box-shadow: 0px 1px 8px rgb(158, 158, 158, 0.25);
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 0.75em 0.75em;
  border-radius: 2em;
  transition: all 150ms ease-in-out;
}

.phonetics a:hover {
  background: rgb(83, 178, 255);
  color: white;
}

.phonetics .text {
  color: rgb(109, 109, 109);
  padding-left: 0.5em;
}
