.phonetics {
  margin-bottom: 0.75em;
  height: 2em;
}

.phonetics a {
  border: 1px solid #ddd;
  text-decoration: none;
  padding: 0.75em 1.5em;
  border-radius: 2em;
  transition: all 150ms ease-in-out;
}

.phonetics a:hover {
  background: rgb(83, 178, 255);
  color: white;
}

.phonetics .text {
  color: rgb(109, 109, 109);
}
